table, td, th {
    border: 1px solid black;
}
thead{
    font-weight:bold;
}
tbody td:nth-child(1){
    font-style:italic;
}
tbody td:nth-child(2){
    color:red;
}
tbody td:nth-child(4){
    color:blue;
}
tbody td:nth-child(1){
    font-style:italic;
}
tbody tr:nth-child(odd){
    background-color:lightgreen;
}
tbody tr:nth-child(even){
    background-color:lightblue;
}
dt:hover + dd { 
    background-color: purple;
}
.outer-content {
    background-color:pink;
    margin-top:20px;
    padding:20px;
    width:75%;
}
.inner-content {
    background-color:lightblue;
    width:75%;
    margin-left:12.5%;
    text-align:center;
}
img {
    float:left;
}